{% if milestones is defined and milestones is not empty %}
    <ul>
        {% for milestone in milestones %}
            <li>{{ milestone.date|date('d-m-Y H:i:s') }} - {{ milestone.height.height }}cm</li>
        {% endfor %}
    </ul>
{% endif %}
