{% extends 'base.html.twig' %}

{% block body %}

    Hello Luca!

    {% if milestones is defined and milestones is not empty %}
        <ul>
            {% for milestone in milestones %}
                <li>{{ milestone.date|date('d-m-Y H:i:s') }} - {{ milestone.height.height }}cm</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ message }}

{#    separate in two parts - including another controller with the form and redirecting to homepage #}

    {{ form(milestoneForm) }}


    {#    <form method="post" action="/new-milestone">#}
{#        <input type="text" name="height">#}
{#        <input type="submit" value="submit">#}
{#    </form>#}

{% endblock %}
