{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {{ render_esi(path('milestone_list')) }}
    </div>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(milestoneForm) }}

{% endblock %}
